name: Updater

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/updater.yml'
      - 'updater/**'
  pull_request:
    paths:
      - '.github/workflows/updater.yml'
      - 'updater/**'

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 25

      - uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: |
          cd updater
          ./gradlew build run
